<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Registration</title>
</head>

<body>

    <div style="max-width: 560px; margin-left: auto; margin-right: auto;">
        <img src="https://res.cloudinary.com/camdyn/image/upload/v1643166026/logo_ebimnc.png" alt=""
            style="width: 50%; height: auto; margin-left: 25%; margin-right: 25%;">
    </div>
    <div style="max-width: 560px; margin-left: auto; margin-right: auto;">
        <hr style="width: 70%;">
        <div style="width: 65%; margin-left:auto; margin-right: auto;">
            <p style="text-align: center;">
                <a href="https://camdyn-shopstop.herokuapp.com/user/confirmEmail/<%=userId%>">Please confirm your
                    account here</a>
            </p>
            <p style="text-align: center;">It's not necessary to purchase items, but it's there to ensure reviews won't
                get
                flooded by bots.
                <br>
                <br>
                Thank you!
            </p>
        </div>
        <hr style="width: 50%;">
        <div style="text-align: center;">
            <a href="https://camdyn-shopstop.herokuapp.com/shop/main" style="margin: 5px;">Home</a> <a
                href="https://camdyn-shopstop.herokuapp.com/shop/allItems" style="margin: 5px;">Shop</a>
            <br>
            <br>
            ShopStop 2022
        </div>
    </div>

</body>

</html>